:root {
  --main-font: "IBM Plex Mono";
}

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: "IBM Plex Mono";
  background: var(--background-image) no-repeat top center;
  background-size: auto 768px;
  background-color: var(--background-color);
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header__title {
  color: #db00ff;
  text-shadow: 4px 4px 0px #ff0070;
  font-family: "IBM Plex Mono";
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  /* 95.7px */
  clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
}

.header__theme-menu {
  padding-block-start: 20px;
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 20px;
  right: 48px;

}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;

}



.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    padding-block-start: 193.5px;
    padding-inline-end: 30px;
  }

}


.header__theme-menu-button {
  background: none;
  border: transparent;
  color: var(--rec-color);
  font-family: inherit;
  font-size: 18px;

}

.header__title-section {
  display: flex;
  padding-block-start: 319px;
  padding-block-end: 319px;
  flex-direction: column;
  padding-inline-end: 20px;

}

.header__subtitle-decor {
  background: var(--rec-color);
  width: 491px;
  height: 70px;
  align-self: end;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
  padding-inline-end: 20px;
  color: black;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--rec-color);
  border-block-start: 1px solid var(--rec-color);
  right: 17px;
  top: 14px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--rec-color);
  border-block-end: 1px solid var(--rec-color);
  left: 10px;
  bottom: 100px;

}

.main {
  display: flex;
  flex-direction: column;
}

.main__section-item {
  display: flex;
  color: var(--main-text-color);
}

.main__section {
  display: flex;
  color: var(--title-shadow);
}

.main__section-title {
  color: #FF0070;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.main__section-list{
display: flex ;

}