/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background: var(--background-image) no-repeat top center;
  background-size: cover;
  background-color: var(--background-color);
  background-attachment: fixed;
  color: var(--main-text-color);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 20px 20px 20px 0;
  position: relative;
}

.header__title {
  font-family: var(--font-family, sans-serif);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0px #ff0070;
}

@media (width < 768px) and (width >=375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
    line-height: 82.5%;
  }
}

.header__theme-menu {
  color: var(--title-shadow);
  font-family: var(--font-family, sans-serif);
  font-size: 18px;
  margin-left: 20px;
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 20px;
  right: 48px;
  font-family: var(--font-family, sans-serif);
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  cursor: pointer;
  /*    padding: 0px 13px 7px 13px;*/
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corners-color);
  border-bottom: 1px solid var(--corners-color);
  left: 20px;
  bottom: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corners-color);
  border-top: 1px solid var(--corners-color);
  right: 20px;
  top: 20px;
}

@media (width < 768px) {
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

@media (width <=376px) {
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
  outline: none;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width < 768px) and (width >=375px) {
  .header__theme-menu {
    align-self: center;
  }
}

@media (width < 768px) and (width >=375px) {
  .header {
    padding: 0 10px;
  }
}

@media (width < 1024px) and (width >=768px) {
  .header__theme-menu {
    padding-top: 172px;
  }
}

.header__title-section {
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.header__subtitle-decor {
  background: var(--title-decor);
  color: var(--article-title-color);
  width: 50%;
  align-self: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  justify-self: end;
  margin-block-end: 39px;
  max-width: 491px;
}

@media (width <=768px) {
  .header__subtitle-decor {
    margin-block-end: 28px;
    max-width: 364px;
  }
}

.line {
  line-height: 23.4px;
}

@media (width < 425px) {
  .header__subtitle-decor {
    width: 100%;
  }
}

.main {
  display: grid;
  padding: 0 20px;
  flex-direction: column;
  gap: 80px;
}

.main__section-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 2px 2px 0px var(--link-shadow);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: none;
  border: 1px solid var(--main-text-color);
}

.main__reasons {
  display: grid;
  grid-template-columns: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem) 1fr;
  column-gap: 20px;
}

.main__reasons-item {
  display: grid;
  gap: 10px;
  padding-block-end: 20px;
}

.main__reasons-item:last-child {
  padding-block-end: 0px;
}

.main__reasons-list {
  grid-column: 2 / 4;
}

.main__reasons-title {
  color: var(--corners-color);
  font-size: 18px;
  font-weight: bold;
}

.main__what {
  display: grid;
  gap: 0 20px;
}

.main__what-title {
  color: var(--corners-color);
  font-size: 18px;
  font-weight: bold;
  margin-block-end: 22px;
  width: 33%;
}

.main__what-list {
  display: flex;
  grid-row: 2;
  grid-column: 1/4;
  gap: 20px;
}

.main__what-item {
  grid-column: span 1;
}

.main__what-item:last-child {
  padding-block-end: 0px;
}

@media (width <=768px) {
  .main__what {
    display: block;
  }

  .main__what-title {
    width: 32%;
  }

  .main__what-item {
    display: grid;
    padding-block-end: 20px;
  }
}

.section__article-text-what {
  padding-top: 10px;
  line-height: 23.4px;
}

.main__how-title {
  color: var(--corners-color);
  font-size: 18px;
  font-weight: bold;
}

.main__how {
  display: grid;
  grid-template-columns: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem) 1fr;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.main__how-list {
  display: grid;
  grid-column: 2 / 4;
  gap: 20px;
}

@media (width <=768px) {
  .body {
    gap: 5px;
  }

  .header__rec {
    top: 12px;
    right: 38px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }
}

@media (width <=768px) {
  .main {
    margin: 17px 0;
    gap: 80px;
  }
}

.main__section-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
}

.main__section-decor {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

@media (width <=550px) {
  .main__reasons,
  .main__how {
    display: block;
  }

  .main {
    padding: 0 10px;
    margin: 0;
    gap: 50px;
  }

  .main__reasons-title {
    padding-block-end: 18px;
  }

  .main__what-title {
    width: 100%;
  }

  .header__subtitle-decor {
    margin-block-end: 11px;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 16px;
  }

  .main__how-title {
    padding-block-end: 22px;
  }
}

.section__article-text {
  line-height: 23.5px;
}

.main__section .section__article-text {
  line-height: 23.4px;
}

@media (width < 1024px) and (width >=768px) {
  .main__section .section__article-text {
    padding: 0;
    line-height: 23.4px;
  }
}

@media (width < 768px) and (width >=375px) {
  .main__section .section__article-text {
    padding: 0;
  }
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width < 768px) and (width >=375px) {
  .main__section-title {
    width: 100%;
  }
}

@media (width >=1024px) {
  .main__section-list {
    justify-content: space-between;
  }
}

.main__section .section__article-item {
  flex: 0 0 auto;
  width: 32%;
}

@media (width < 1024px) and (width >=375px) {
  .main__section .section__article-item {
    gap: 12px;
  }
}

@media (width < 1024px) and (width >=375px) {
  .main__section .section__article-item {
    flex: 1 0 auto;
    width: 100%;
  }
}

@media (width < 1024px) and (width >=768px) {
  .main__section .main__section-list {
    width: 65%;
  }
}

.title-decor-regular {
  font-weight: 400;
}

@media (width < 1024px) and (width >=375px) {
  .main__section .main__section-list {
    gap: 20px;
  }
}

@media (width >=768px) {
  .main__picture {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
    padding-block-end: 34px;
  }
}

.main__picture {
  display: grid;
}

.main__picture .main__section-decor {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}

.section__image {
  display: block;
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
}

@media (width >=768px) {
  .main__picture .section__image {
    width: 100%;
    height: 100%;
  }

  .main__picture .section__image:first-of-type,
  .main__picture .section__image:last-of-type {
    grid-column: span 2;
  }

  .main__picture .section__image:nth-of-type(2),
  .main__picture .section__image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width < 768px) {
  .main__picture .section__image {
    width: 100%;
    height: auto;
  }
}

.main__picture .section__image-container {
  width: 100px;
}

@media (width < 768px) {
  .main__picture {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (width < 768px) and (width >=375px) {
  .main__section-title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  position: relative;
  text-align: center;
  align-items: center;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (width < 768px) and (width >=375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
    line-height: 82.5%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer {
    padding: 0 10px;
  }
}

.sss {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width <=768px) {
  .sss {
    display: block;
  }
}
